.image-list-section {
  padding: 3rem 0;
  background-color: #f1f5f9;
}

.image-list-section img {
  width: auto;
  margin-bottom: 2rem;

  // filter: grayscale(100%);
  opacity: 0.95;
}

.title-color {
  color: #334155;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}
