.padding-layout {
  padding-top: 7rem;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  /* box-shadow: rgb(0 0 0 / 9%) 0px 4px 10px -1px; */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 25px -4px rgb(0 0 0 / 10%);
  z-index: 100;

  transition: all 0.3s ease-in-out;
}

.float:hover {
  background-color: #32e675;
  bottom: 45px;
}

.my-float {
  /* margin-top: 5px; */
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .float {
    bottom: 30px;
    right: 20px;
  }
}
