.solutions-section {
  margin-bottom: 3rem;
}
.home-services .section-title {
  line-height: 1.2;
  margin-bottom: 80px;
}
.section-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  position: relative;
  z-index: 10;
  color: #334155;
  margin-bottom: 5rem;
}
.solutions-left {
  width: 100%;
  margin-top: 2rem;
}

.solutions-right {
  margin-top: -13rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .section-title,
  .section-title span {
    font-size: 2rem;
    line-height: 1.5;
  }

  .section-title {
    margin-bottom: 2rem;
    padding: 0 10px;
  }

  .solutions-section {
    margin-bottom: 0;
  }

  .solutions-left,
  .solutions-right {
    margin: 0;
    width: 100%;
  }
}
