.footer {
  background-color: #1e40af;
  color: #fff;
}

.footer-top {
  padding: 50px 0;
}

.footer-bottom {
  background-color: #1e3a8a;
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
  position: relative;
  z-index: 10;
}

