.about-section {
  /*  margin-top: 7rem;
  margin-bottom: 3rem; */
  margin: 4rem 0;
  margin-bottom: 6rem;
}

.section-title {
  color: #334155;
  /* margin-bottom: 2.5rem; */
  font-size: 2.5rem;
}

.section-description {
  padding-top: 10px;
  color: #475569;
  font-size: 1.2rem;
  line-height: 2;
}

.about-us-image {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}
